body {
    font-family: 'Baloo Bhai', cursive;
    background-color: #2fb593;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #2fb593;
}

.custom-btn {
    background-color: beige;
    border: none;
    border-radius: 15px;
}

.inpt {
    border-radius: 15px;
    border: none;
    padding-right: 150px;
    background-color: #2fb593;   
}


